{
    "riskySigninfile":"C:\\Temp\\Sign-ins from anonymous IP addresses.csv",
	"domain":"contoso.com",
    "usersOu":"OU=User Accounts,DC=contoso,DC=com",
    "levelToGoDown":4,
    "getAdUserProperties":["UserPrincipalName", "PasswordNeverExpires", "DistinguishedName", "DisplayName", "title", "manager", "Enabled", "SID"],
    "headHonchoSpecified":"CN=William\\, Gates,OU=User Accounts,DC=contoso,DC=com"
}